body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  text-align: center;
  margin:0;
}

.titleContainer {
    margin: 0 10%;
}

h1, h2 {
    font-size: large;
    margin: 0;
}

h1 {
    float: left;
}

h2 {
    float: right;
}

#container {
    background-color: #ededed;
    width: 700px;
    height: 655px;
    padding: 50px;
    margin: 2.5% auto;
  }

button {
  border-radius: 25px;
  border: none;
  padding: 0.75em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  background-color: white;
}

button:active{
  transform: translate(1px);
}